/*
 * Using Nord palette
 * https://www.nordtheme.com/docs/colors-and-palettes
 */

html,
body {
  min-height: 100vh;
  background-color: #434c5e;
  color: #d8dee9;
}

body {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* All headings should use Raleway */
header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main-header {
  font-size: 8rem;
  margin-bottom: 0;
  color: #eceff4;
  font-weight: 100;
}

#sub-header {
  margin-top: 0;
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 4rem;
}

#page-content {
  height: 75%;
  flex-direction: row;
  justify-content: center;
}

/* Recolor social icons with SVG filter so they match the text color / palette of the page */
.social-icon {
  max-width: 120px;
  filter: url(#body-text-color-filter);
}

nav > a:hover > img {
  filter: url(#social-icon-hover-color);
}

nav > a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

/* Hide those pesky SVG filters */
svg defs,
svg {
  height: 0;
  position: absolute;
  width: 0;
}
